#header{
	background-image: url(../source/header.jpg);
    height: 300px;
    width: 100%;
    text-align: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    animation:example 10s linear 0s running infinite;
}

@keyframes example {
  from {
  	background-position-x:0px;
  }
  to {
  	background-position-x:-400px;
  }
}

@media (min-width:600px) {
	#header{
		height:625px;
	}
}

.link4{
	position: relative;
}
.link4:hover #link4-content{
	display:block;
}
#link4-content{
	display: none;
	position: absolute;
	background-color: black;
	width: 100px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#link4-content>a:hover{
	background-color: white;
	color:black !important;
}

.form-seach{
	right:4px;
}
